.btn_disable {
	width: 100%;
	appearance: none;
	font-weight: 700;
	padding: 0.75rem;
	border: 2px;
	border-color: rgba(229, 231, 235, 1);
	color: rgba(229, 231, 235, 1);
	cursor: pointer;
}

.btn {
	width: 100%;
	appearance: none;
	font-weight: 700;
	padding: 0.75rem;
	border: 2px;
	border-color: rgba(156, 163, 175, 1);
}
